
	<style>

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Landing page background image */
    body {
      background-image: url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
    }

    /* Landing page text */
    .description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;

}

.centered{
	position=fixed;
	top:50%;
	left:50%;
}

  </style>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand active" href="#">ExpertFinder</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/home">Home</a></li>
					<li><a href="/Feature2">Find Expert</a></li>
					<li><a href="/Feature1">My Profile</a></li>
					<li><a href="Feature5_Registration_Page.html">Register</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
					<li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li>
				</ul>
			</div>
		</div>
  </nav>

  <div class="description">
	{{#each data}}
	<h2>Welcome {{fName}} {{lName}} !</h2>
	{{/each}}

    <h1>Expert Finder</h1>
    <p><strong>Welcome to Expert Finder!</strong> Find an expert from Oregon State that can help you out! Whether it's challenging course work or networking opportunites, 
	Expert Finder is the place to get you a step ahead.</p>
	<a href='/Feature2'><button type="button" class="btn btn-secondary btn-lg">Find Expert</button></a>
    <a href='Feature5_Registration_Page.html'><button type="button" class="btn btn-primary btn-lg">Register</button></a>
  </div>



<footer class="container-fluid text-center">
  <p>ExpertFinder is used for Oregon State students to connect with current students and/or alumni for networking opportunities in the computer science field</p>
</footer>
