


<div class="container-fluid text-center">
	<div class="row content">

    <h1>Expert Finder</h1>
	<h4>LOGIN</h4>
	<p>Please login with your username and password</p>
    <form method='post' action='http://localhost:4212/login'>
		<div class="form-group">
		<label for='username'> username: </label>
		<input type='text' id='username' name ='username'/>
		<br></br>
		<label for='pass'>password</label>
		<input type='password' id='pass' name='pass'/>
		<input type='submit' value='login' class="btn btn-primary"/>
		</div>
	</form>
	<br></br>
	<br></br>
	<br></br>
	<p>New User? Please click the button below to register for an account</p>
	<a href='Feature5.html'><button type="button" class="btn btn-primary">Register</button></a>

</div>
</div>
 


<footer class="container-fluid text-center">
  <p>ExpertFinder is used for Oregon State students to connect with current students and/or alumni for networking opportunities in the computer science field</p>
</footer>

